## Has no effect as the volume is mounted from the host
# # Git
# .git
# .gitignore
# .gitattributes

# # .ignore
# **/.ignore/*
# !**/.ignore/.dirkeep

# # Virtual environment
# .venv/
# venv/

# # Logs
# logs

# # Byte-compiled / optimized / DLL files
# **/__pycache__/
# **/*.py[cod]

# # Rust lib binaries
# **/target/release
