# Virtual environment
.venv/
venv/

# Byte-compiled / optimized / DLL files
**/__pycache__/
**/*.py[cod]

# Logs
logs

# Ensure that there is always a .dirkeep file in the .ignore directory
app/.ignore/*
!app/.ignore/.dirkeep

# Byte-compiled / optimized / DLL files
**/__pycache__/
**/*.py[cod]

# Rust Maturin build artifacts
**/target/release
